{% extends "main.html" %}


{% block title %}Search Administration{% endblock %}
{% block body %}
{% if options_save %}
    options Saved <br /><br />
{% endif%}
<form method="post" action="{% url search_administartion %}">
  <fieldset style="border: 1px dashed #cccccc;">
  <table style=" margin:0;">
  {% for field in form %}
            {% if forloop.first %}
            <tr>
            {% else %}
            <tr style=" border-top:1px dashed #cccccc;">
            {% endif %}

                <td width=176>{{ field.label_tag }}:</td>
                <td>{{ field }}
                </td>
            </tr>
            <tr>
                <td colspan=2 align='left' style=" color: #666666; font-size:77%">{{field.help_text}}</td>
            </tr>
            {% if field.errors %}
            <tr>
                <td colspan=2 align='right'><font color='Red'>{{ field.errors }}</font></td>
            </tr>
            {% endif %}
    {% endfor %}
        <tr  style=" border-top:1px dashed #cccccc;">
            <td colspan=2 align='center'><input type="submit" value="Submit" /></td>
        </tr>

  </table>
  </fieldset>
</form>
{% endblock %}

{% block sidebar %}




{% endblock %}
