{% extends "livesearch/base.html" %}

{% block title %}{{title}}{% endblock %}

{% block search %}
<form action='{% url livesearch_image_results %}' method='get'>
{{ form.key_words }}
<input type="submit" value="Search" />
</form>
{% endblock %}
{% block navigation %}
<li><a href="{% url livesearch_video_results %}?key_words={{q}}">Video</a></li>
<li class="active"><a href="{% url livesearch_image_results %}?key_words={{q}}">Image</a></li>
<li><a href="{% url livesearch_web_results %}?key_words={{q}}">Web</a></li>
<li><a href="{% url livesearch_news_results %}?key_words={{q}}">News</a></li>
<li><a href="{% url livesearch_twitter_results %}?key_words={{q}}">Twitter</a></li>
{% endblock %}

{% block pageheaderinfo %}Images - about {{bingImage.Total}}{%endblock%}


{% block mainresult %}
<ul class="image_results_main">
{% for result in bingImage.Results %}
<LI><a href="{{ result.Url|safe }}"><img src="{{ result.Thumbnail.Url|safe }}"></a></LI>
{% endfor %}
</ul>
{%endblock%}



{% block paginator %}
<ul class="pager">
<li><a href="{% url livesearch_image_results %}?key_words={{q}}&page={{prev}}">&#171; Prev</a></li>
{% for search_page in page_range %}
<li {% ifequal search_page page%} class="active" {% endifequal %}><a href="{% url livesearch_image_results %}?key_words={{q}}&page={{search_page}}">{{search_page}}</a></li>
{% endfor %}
<li><a href="{% url livesearch_image_results %}?key_words={{q}}&page={{next}}">Next &#187;</a></li>
</ul>
</div>
{%endblock%}

{% block sidebar %}
                    <div class="hd">
                        <h2>Side bar for other stuff :)</h2>
                    </div>
{% endblock %}
